body {
    font-family: Arial, sans-serif;
    background-color: #D1C4E9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 80%;
    margin: 40px auto; /* Add top margin */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 200px); /* Update min-height to account for the added margin */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Add border-radius */
  }

  .gen-container {
    background-color: #3A1F46;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5rem 2rem;
  }

  .content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem 2rem;
  
  }

  .img-custom {
    margin: 2rem;
    width:90%;
    height:auto;
   
  }
  

  h2 {
    color: #BF4C78;
    text-align: left;
    margin-left: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  
  
  h1 {
    text-align: center;
    font-size: 2em;
    color: #BF4C78 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  #main-title {
    margin:2rem auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: #3A1F46 !important;
  }


  .navbar-brand {
    margin-left: 2rem;
    color: white;
  }

  .active {
    color:#BF4C78 !important;
  }

  .nav-link {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
  }
  .nav-custom {
    background-color:#3A1F46 !important;
    height: 5rem;
  }
  #trope-form {
    text-align: center;
  }
  button {
    display: inline;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #BF4C78;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #result {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FAFBFA;
    text-align: center;
    margin-top: 20px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #3A1F46;
  }