body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    background-image: url('../bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* To make sure the content inside the body covers the whole viewport height */
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(191, 76, 120, 0.7);
  }
  
  .container {
    max-width: 80%;
    margin: 40px auto; /* Add top margin */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 200px); /* Update min-height to account for the added margin */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Add border-radius */
  }

  .splash-container {
    background-image: url('../landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* To make sure the content inside the body covers the whole viewport height */
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .centered {
      text-align: center;
      margin-top: 15rem;
    }

    .section-heading {
      font-family: 'Ubuntu', sans-serif;
      color: #755397 !important;

    }

    .section-title {
      font-family: 'Ubuntu', sans-serif;
      color: #755397 !important;
      font-size: 3rem;
      margin-top: 3rem;
      font-weight: normal;
    }

    .guide {
      background-color: #e0e0e0;
      margin-bottom: 2rem;
      max-width: 100%;
      overflow-x: hidden;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
     /* Add or adjust this property */
    }

    .guides-container {
      margin: auto;
      padding: auto;
      max-width: 85%;
    }
    

    h3, .gen-tag {
      margin: 0 1.5rem 1rem 0;
      font-size:1.5rem;
      color: #e0e0e0;
      
    }

    .generator-wrapper {
      display: flex;
      justify-content:center;
      margin-top: 0;

    }

    .cta {
      font-size:1rem !important;
      text-align: center;
      margin: 1rem 1rem 4rem 1rem;
      font-weight: normal;
      background-color: #514EA6 !important;
      color: #e0e0e0 !important;
    }

   
    .enter-button {
      display: inline-block;
      background-color: #4450ae;
      color: white;
      font-size: 1.5rem;
      font-family: 'Ubuntu', sans-serif;
      padding: 15px 30px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
    }

    .enter-button:hover {
      background-color: #5a63c5;
      
    }
    

  .gen-container {
    background-color: rgba(58, 31, 70, 0.3);
    border-radius: 10px;
    max-width: 65%;
    margin: 7rem 2rem 2rem 2rem;
    overflow-y: hidden;
    position: relative;
    right: -2rem;
  }

  .fableforge-guides ul {
    list-style-type: none;
    padding: 0;
  }
  
  .fableforge-guides ul li {
    position: relative;
    padding-left: 1.5em;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #110226;
    margin-bottom: 0.5em;
    margin-left: 2rem;
    margin-right: 5rem;
    left: 3rem;
  }
  
  .fableforge-guides ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #8768A6;
    border-radius: 50%;
  }

  ol {
    list-style-type: none;
    counter-reset: my-counter;
  }

  ol li {
    counter-increment: my-counter;
  }

  .fableforge-guides ol {
    counter-reset: item;
    padding: 0;
    margin-left: 2rem;
  }
  
  .fableforge-guides ol li {
    position: relative;
    margin-left: 3rem;
    padding-left: 1.5em;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #110226;
    margin-bottom: 0.5em;
  }
  
  .fableforge-guides ol li::before {
    content: counter(item) ".";
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: #755397;
  }
  
  
  

  .content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem 12rem 2rem 1rem;
    color: white;
    position: relative;
    left: -2.5rem;
    bottom:2.5rem;
    width: 50%;
  
  }

  .section-heading {
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 10px !important;
    padding: 20px;
    font-weight: normal;
  }

  .generator {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .gen-tag {
    padding: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin-right: 2rem;
    font-weight: normal;
    line-height: 1.6rem;

  }


  .section1 {
    /*background-color: #AB6D88;*/
    position: relative;
    bottom: 4rem;
  }
  .img-custom {
    margin: 2rem;
    width:90%;
    height:auto;
   
  }
  

  h2 {
    color: #BF4C78;
    text-align: left;
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  
  
  h1 {
    text-align: center;
    font-size: 2em;
    color: #BF4C78 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  #main-title {
    margin:8rem 2rem 2rem 5rem;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3rem;
    color: whitesmoke!important;
    text-align: left;
  }

  .full-width-iframe {
    position: relative;
    bottom: 12rem;
  }

  .navbar-brand {
    margin-left: 2rem;
    color: #e0e0e0;
    font-family: 'Cinzel Decorative', cursive;
  }

  .introduction-image, .charbg-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2rem auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
  }

  .active {
    color:#514EA6 !important;
  }

  .nav-link {
    color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
  }
  .custom-nav, nav{
    background-color: rgba(17, 2, 38, 0.3); /* Dark converted to rgba */
    /*background-color:rgba(58, 31, 70, 0.3) !important;*/
    height: 5rem;
  }

  /* custom nav for guides page with full opacity */
  .custom-nav-guides {
    background-color: rgba(17, 2, 38, 1);
  }
  #trope-form {
    text-align: center;
  }
  .no-pad {
    position: relative;
    left: 7rem;
  }
  button {
    display: inline;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #BF4C78;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #result {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FAFBFA;
    text-align: center;
    margin-top: 20px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #3A1F46;
  }

  

 /* .section1 {
    
    position: relative;
  }
  
  .section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(180deg, rgba(204, 156, 175, 1), rgba(204, 156, 175, 0));
    pointer-events: none;
  }
  */
  
  .section1 {
    background-color: #8768A6;
    border-top: 5px solid #514EA6;
    position: relative;
  }
  

  /*.resources {
    background: rgb(212,164,179);
    background: linear-gradient(180deg, rgba(212,164,179,1) 0%, rgba(168,124,159,1) 25%, rgba(124,85,139,1) 50%, rgba(89,61,119,1) 75%, rgba(47,19,75,1) 100%);
    position: relative;
    bottom: 6rem;
    padding: 20px;
  }*/

  .resources{
    position: relative;
    bottom: 4rem;
    padding: 20px;
    border-top: 5px solid #514EA6;
  }
  
  .background-gradient {
    background-color: #e0e0e0;
  }

  .custom-col {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width: 40%;
    height: auto;
    justify-content: center;
  }

  .fant {
    max-width: 70%;
    height: auto;
    margin: 3rem 2rem 2rem 5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  

  .resources-blurb {
    margin: 2rem 5rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6rem;
    color: #110226;
    font-size:1.2rem;
  }

  /* Style the unordered list */
.resources ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default left padding */
  margin-bottom: 2rem; /* Add space below the list */
  text-align: center;
}

/* Style the list items */
.resources li {
  margin-bottom: 1rem; /* Add space between items */
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

/* Style the links */
.resources a {
  color: #755397;
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Add a transition for color change */
  margin-top: 5rem;
  padding: 20px;
}

/* Add hover effect for the links */
.resources a:hover {
  color: #7e3d93; /* Use a different color for hover */
}
 

  
  
  