body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header {
    background-image: url('../bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* To make sure the content inside the body covers the whole viewport height */
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(191, 76, 120, 0.7);
  }
  
  .container {
    max-width: 80%;
    margin: 40px auto; /* Add top margin */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 200px); /* Update min-height to account for the added margin */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Add border-radius */
  }

  .splash-container {
    background-image: url('../landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* To make sure the content inside the body covers the whole viewport height */
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .centered {
      text-align: center;
      margin-top: 15rem;
    }

    h3, .gen-tag, .section-heading {
      font-family: 'Ubuntu', sans-serif;
      color: #EDEDED;

    }

    h3 {
      margin: 0 1.5rem 1rem 0;
      font-size:1.5rem;
      
    }

    .generator-wrapper {
      display: flex;
      justify-content:center;
      margin-top: 0;

    }

    .cta {
      font-size:1rem !important;
      text-align: center;
      margin: 1rem 1rem 4rem 1rem;
      font-weight: bold;
    }

   
    .enter-button {
      display: inline-block;
      background-color: #4450ae;
      color: white;
      font-size: 1.5rem;
      font-family: 'Ubuntu', sans-serif;
      padding: 15px 30px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
    }

    .enter-button:hover {
      background-color: #5a63c5;
      
    }
    

  .gen-container {
    background-color: rgba(58, 31, 70, 0.3);
    border-radius: 10px;
    max-width: 65%;
    margin: 7rem 2rem 2rem 2rem;
    overflow-y: hidden;
    position: relative;
    right: -2rem;
  }

  .content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem 12rem 2rem 1rem;
    color: white;
    position: relative;
    left: -1.2rem;
    width: 25%;
  
  }

  .section-heading {
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 10px !important;
    padding: 20px;
    font-weight: normal;
  }

  .generator {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .gen-tag {
    padding: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin-right: 2rem;
    font-weight: normal;
    line-height: 1.6rem;

  }


  .section1 {
    /*background-color: #AB6D88;*/
    background-image: linear-gradient(to right, #C2939C, #D4A4B3, #C2939C);
    position: relative;
    bottom: 4rem;
  }
  .img-custom {
    margin: 2rem;
    width:90%;
    height:auto;
   
  }
  

  h2 {
    color: #BF4C78;
    text-align: left;
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  
  
  h1 {
    text-align: center;
    font-size: 2em;
    color: #BF4C78 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  #main-title {
    margin:12rem 2rem 2rem 5rem;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3rem;
    color: whitesmoke!important;
    text-align: left;
  }

  .full-width-iframe {
    position: relative;
    bottom: 12rem;
  }

  .navbar-brand {
    margin-left: 2rem;
    color: white;
  }

  .active {
    color:#BF4C78 !important;
  }

  .nav-link {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
  }
  .custom-nav, nav{
    background-color:rgba(58, 31, 70, 0.3) !important;
    height: 5rem;
  }
  #trope-form {
    text-align: center;
  }
  .no-pad {
    position: relative;
    left: 7rem;
  }
  button {
    display: inline;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #BF4C78;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #result {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FAFBFA;
    text-align: center;
    margin-top: 20px;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #3A1F46;
  }

  .resources {
    background-color: #2e8b87;
    background-image: linear-gradient(rgba(48, 161, 156, 0.5), rgba(48, 161, 156, 0.2)), url('../dark_mosaic.png');
    position: relative;
    bottom: 6rem;
    padding: 20px;
  }

  .resources::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8) !important; /* Adjust the last value (0.2) to control the opacity of the overlay */
    z-index: -1;
  }

  .resources-blurb {
    margin: 2rem 5rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6rem;
    color: white;
  }

  /* Style the unordered list */
.resources ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default left padding */
  margin-bottom: 2rem; /* Add space below the list */
  text-align: center;
}

/* Style the list items */
.resources li {
  margin-bottom: 1rem; /* Add space between items */
}

/* Style the links */
.resources a {
  color: #60c1b3;
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Add a transition for color change */
}

/* Add hover effect for the links */
.resources a:hover {
  color: #7e3d93; /* Use a different color for hover */
}
  /*Experiments*/
  .lighting-effect {
    position: relative;
  }

  .lighting-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 0%, transparent 70%);
    pointer-events: none;
  }

  
  
  